body{
    background-color: rgb(117, 228, 243);
    display: flex;
}

img{
    height: 60%;
    width: 80%;
}

div{
    width: 50%;
}

.ladoE{
    align-items: center;
    display: flex;
    justify-content: center;
}